

<%= notice %>



<div class="panel-background">
  <div class="panel panel-default post-panels col-xs-12 col-sm-8 col-md-offset-3 col-md-9">
    <% @posts.each do |post| %>
    <h3 class="panel-title"><%= link_to post.title, post %></h3>
    <div class="post-date">
      <small><%= post.created_at.strftime("%B, %d, %Y") %></small>
    </div>
    <!-- WANT TO ADD COMMENTS INTO THE POST PANEL -->
    <div class="panel-body well">
      <% if post.body.length > 150 %>
      <%= truncate(post.body, length: 150) %> <%= link_to 'read more', post_path(post) %>
      <% else %>
      <%= post.body %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>





<script>
  var main = function() {
    $('#sidebar-title').click(function() {
      var $icon = $(this).find('i');
      if ($icon.hasClass('fa-chevron-down')) {
        $icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
      } else {
        $icon.addClass('fa-chevron-down').removeClass('fa-chevron-up');
      }
      $( "#sidebar" ).slideToggle( "slow" );
    });
  };
  $(document).ready(main);


</script>
