

<%= notice %>
<div class="sidebar">
  <div class="panel panel-default hidden-xs">
    <div class="panel-heading">
      <h3 id="sidebar-title" class="panel-title">Social<i id="chevron" class="fa fa-chevron-down pull-right"></i>
</h3>
    </div>
    <div class="panel-body">
      <div id="sidebar">
        <ul class="sidebar-links">
          <li><%= link_to "LinkedIn", 'https://www.linkedin.com/in/traviseubanks' %></li>
          <li><%= link_to "Twitter", 'https://twitter.com/teubanks13?lang=en' %></li>
          <li><%= link_to "Github", "https://github.com/eubanksanator" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="panel-background">
  <div class="panel panel-default post-panels col-xs-12 col-sm-8 col-md-8">
    <% @posts.each do |post| %>
    <h3 class="panel-title"><%= link_to post.title, post %></h3>
    <div class="post-date">
      <small><%= post.created_at.strftime("%B, %d, %Y") %></small>
    </div>
    <!-- WANT TO ADD COMMENTS INTO THE POST PANEL -->
    <div class="panel-body well">
      <% if post.body.length > 150 %>
      <%= truncate(post.body, length: 150) %> <%= link_to 'read more', post_path(post) %>
      <% else %>
      <%= post.body %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


<script>

  var main = function() {
    $('#sidebar-title').click(function() {
      var $icon = $(this).find('i');
      if ($icon.hasClass('fa-chevron-down')) {
        $icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
      } else {
        $icon.addClass('fa-chevron-down').removeClass('fa-chevron-up');
      }
      $( "#sidebar" ).slideToggle( "slow" );
    });
  };
  $(document).ready(main);


</script>


