

<div id="sidebar">
  <header id="header">
    <%= image_tag ('profile_pic.jpg'), id: "logo" %>
    <ul class="sidebar-links">
      <li id="sidebar-header">Travis Eubanks</li>
      <li><%= link_to "My Blog", posts_path %></li>
      <li><%= link_to "About", "#" %></li>
    </ul>

    <ul class="sidebar-links">
      <li id="social">Social</li>
      <li><%= link_to "Twitter", "https://twitter.com/teubanks13" %></li>
      <li><%= link_to "Github", "https://github.com/eubanksanator" %></li>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/traviseubanks" %></li>
    </ul>
  </header>
</div><!--ends sidebar -->

<div class="panel">
  <div class="col-xs-12 col-sm-8 col-md-offset-3 col-md-9">
    <% @posts.each do |post| %>
    <h3 class="panel-title"><%= link_to post.title, post %></h3>
    <div class="post-date">
      <small><%= post.created_at.strftime("%B, %d, %Y") %></small>
    </div>
    <!-- WANT TO ADD COMMENTS INTO THE POST PANEL -->
    <div class="panel-body" id="post-body-width">
      <% if post.body.length > 300 %>
      <%= truncate(post.body, length: 300) %><%= link_to "...read more", post_path(post) %>
      <% else %>
      <%= post.body %>
      <% end %>
      <hr>
    </div>
    <% end %>
  </div>
</div>

<script>
  var main = function() {
    $('#sidebar-title').click(function() {
      var $icon = $(this).find('i');
      if ($icon.hasClass('fa-chevron-down')) {
        $icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
      } else {
        $icon.addClass('fa-chevron-down').removeClass('fa-chevron-up');
      }
      $( "#sidebar" ).slideToggle( "slow" );
    });
  };
  $(document).ready(main);


</script>
